@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

h1,h2,li,ul,figure,figcaption,button{
    margin: 0;
    padding: 0;  
}

body{
    background-color: #EAE8FE;
    font-family: 'Noto Sans KR', sans-serif;
}

button, input{
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    text-align: center;
}

.logo_img{
    width:386px;
    height:180px;
}

.vending_machine_content{
    width:748px;
    margin: 67px auto;
    display: flex;
    justify-content: space-between;
}

.content_left{
    width:360px;
    background-color: white;
    flex-wrap: wrap;
    padding:31px 27px;
}

.left_goods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    list-style: none;
}

.left_goods>li{
    width:94px;
    height: 130px;
    box-shadow: 0 0 4px 1px #bdbdbd;
    padding: 9px 11px;
    font-family: 'NotoSansKR';
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 10px;

}

.left_goods>li:hover {
    cursor:pointer;
}

.left_goods>li:active{
    outline:3px solid #6327fe;
}

.left_goods button{
    font-size: 12px;
    background-color: white;
    border:0;
}

.left_goods .price{
    background-color: #6327fe;
    color:white;
    border-radius: 50px;
    padding:3px 15px;
}


.left_data{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* 그리드를 row안주고 그냥 픽셀값 주면 자동 정렬됨 */
    row-gap: 11px;
    column-gap: 12px;
    list-style: none;
    margin-top: 20px;
    border-radius: 4px;
}

.left_data_return{
    background-color:#EAE8FE;
    /* height:33px; */
    font-size:14px;
    padding:7px 10px;
    border-radius: inherit;
}
.left_data_return> .key{
    float:left;
}
.left_data_return> .value{
    float: right;
}

.left_data_returnbutton, .left_data_inputbutton{
    width:94px;
    padding:7px;
    box-shadow: 0 0 4px 1px #bdbdbd;
    border-radius: inherit;
    font-size:13px;
    border:none;
    background-color:white;
    border-radius: 4px;
}

button:hover{
    cursor:pointer;
}

.left_data_input{
    width:200px;
    padding:6px;
    color: #bdbdbd;
    border:1px solid #bdbdbd;
    border-radius:4px;
}

.left_output{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}

.left_output_list{
    background-color: #EAE8FE;
    width:200px;
    height: 106px;
    padding:12px;
    overflow-y:scroll;
    border:1px solid #bdbdbd;
    border-radius:4px;
}

.left_output_list>div{
    border-radius:inherit;
}

.left_output_list::-webkit-scrollbar, 
.total_list::-webkit-scrollbar{
    width:9px;
}
.left_output_list::-webkit-scrollbar-thumb,
.total_list::-webkit-scrollbar-thumb{ 
    height: 79px;
    background-clip: padding-box;
    border: 3.5px solid transparent;
    background-color: white;
    border-radius: 50px;
}

.left_output_list::after{
    content: " ";
    display: block;
    border: 20px solid transparent;
}


.cola{
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom:6px;
    padding:7px 8px 8px 10px;
    font-size: 9px;
}

.cola_number{
    width:30px;
    height: 30px;
    border:1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.left_output li{
    list-style: none;
}
.left_data_outputbutton{
    width:94px;
    height: 106px;
    border:none;
    border-radius: 4px;
    background-color: #6327fe;
    color:white;
}

.money{
    width:360px;
    height:50px;
    background-color: white;
    padding:9px 27px;
    
}

.money_content{
    width:306px;
    height:32px;
    background-color: #EAE8FE;
    padding:6px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.money_content>.money_content_key{
    float:left;
}

.money_content>.money_content_value{
    float:right;
    font-weight: 700;
}

.total{
    width:360px;
    height:480px;
    background-color:white;
    margin-top:20px;
    padding:30px 28px;
}

.total>h2{
    text-align: center;
    font-size:14px;
}

.total_list{
    width:306px;
    height: 364px;
    padding:12px;
    margin-top:13px;
    background-color: #EAE8FE;
    list-style: none;
    overflow-y: scroll;
    overflow-x:hidden ;
}

.total_content li{
    background-color: white;
    margin-bottom: 6px;
    border-radius: 4px;
}

.totalmoney{
    display: block;
    text-align: right;
    font-size: 12px;
}

.total_list::after{
    content: " ";
    display: block;
    border: 500px solid transparent;
}